service: {{ service_name }}

image: ghcr.io/cpb/{{ service_name }}

servers:
  web:
    - <%= ENV["DEPLOY_HOST"] %>

ssh:
  proxy_command: >-
    cloudflared access ssh --hostname ssh.cpb.ca
    --service-token-id $CF_ACCESS_CLIENT_ID
    --service-token-secret $CF_ACCESS_CLIENT_SECRET

registry:
  server: ghcr.io
  username: cpb
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  secret:
    - SECRET_KEY_BASE
    - DATABASE_URL

proxy:
  host: {{ subdomain }}.cpb.ca
  app_port: 3000
